/*
 * BackupPC standard CSS definitions
 *
 * Version 4.4.0, released 20 Jun 2020.
 *
 * See http://backuppc.sourceforge.net.
 *
 * AUTHOR
 *   Craig Barratt  <cbarratt@users.sourceforge.net>
 *
 * COPYRIGHT
 *   Copyright (C) 2004-2020  Craig Barratt
 */

body {
    font-family:arial,sans-serif;
    font-size:11pt;
    background-color:#ffffff;
    margin:2px 5px 0px 2px;
    height:100%
}

#logo-container a img {
    max-width: 151px;
    max-height: 47px;
}

h1 {
    font-family:arial,sans-serif;
    font-size:16pt;
    color:#000000
}

h2 {
    font-family:arial,sans-serif;
    font-size:12pt;
    color:#000000
}

a {
    font-family:arial,sans-serif;
    color:#3333ff
}

dt {
    color:#3333ff
}

a:hover {
    color:#cc0000;
    text-decoration:none
}

a.NavCurrent {
    font-weight:bold;
}

a.navbar {
    padding-left:5px;
    padding-right:5px;
}

.h1 {
    font-family:arial,sans-serif;
    font-size:16pt;
    color:#000000;
    font-weight:bold;
    background-color:#99cc33;
    padding:3px;
    padding-left:6px;
    margin-bottom:5px;
}

.h2 {
    font-family:arial,sans-serif;
    font-size:12pt;
    color:#000000;
    font-weight:bold;
    background-color:#ddeeee;
    padding:3px;
    padding-left:6px;
    margin-top:3px;
    margin-bottom:1px;
}

.tableStnd {
    font-size:11pt;
}

.tableheader {
    font-size:9pt;
    font-weight:bold;
    background-color:#cccccc;
}

.border {
    font-size:10pt;
}

.editHeader {
    font-family:arial,sans-serif;
    font-size:12pt;
    color:#000000;
    font-weight:bold;
    background-color:#99cc33;
}

.editTabSel {
    font-family:arial,sans-serif;
    font-size:14pt;
    color:#000000;
    font-weight:bold;
    background-color:#99cc33;
    padding:3px;
    padding-left:6px;
    margin-bottom:5px;
}

.editTabNoSel {
    font-family:arial,sans-serif;
    font-size:14pt;
    color:#000000;
    font-weight:bold;
    padding:3px;
    padding-left:6px;
    margin-bottom:5px;
}

.editSaveButton {
    color:#ff0000;
    font-size:14pt;
    font-weight:bold;
}

.editError {
    color:#ff0000;
    font-weight:bold;
}

.editComment {
    font-size:10pt;
}

.editTextInput {
    font-family:courier;
}

.fviewheader {
    font-weight:bold;
    font-size:10pt;
    color:#ffffff;
    background-color:#999999;
}

.fviewborder {
    border-bottom:1px solid #000000;
    border-left:1px dotted #666666;
    background-color:#dddddd;
    font-size:11pt;
}

.fviewon {
    background-color:#cccccc;
}

.fviewoff {
    background-color:#ffffff;
}

.fview {
    font-size:9pt;
    font-family:arial,sans-serif;
    text-decoration:none;
    line-height:15px;
}

.fviewbold {
    font-size:10pt;
    font-family:arial,sans-serif;
    text-decoration:none;
    line-height:15px;
    font-weight:bold;
}

.histView {
    border-bottom:1px solid #000000;
    border-left:2px solid #ffffff;
    background-color:#dddddd;
    font-size:10pt;
}

.histViewMis {
    border-bottom:1px solid #000000;
    background-color:#ffdddd;
}

div.NavMenu {
    width:18%;
    margin:0px;
    background-color:#ddeeee;
}

div.NavMenu a {
    font-size:10pt;
    display:block;
    margin-left:8px;
    padding:2px;
}

div.NavTitle {
    padding-left:10px;
    background-color:#99cc33;
    font-family:arial,sans-serif;
    color:#000000;
    font-weight:bold;
    margin-bottom:2px;
}

#Content {
    float:right;
    width:80%;
    left:20%;
    top:10px;
    position:absolute;
}
